/*stopped on page 13 of smaccs*/
/*increase letter spacing for certain elements?*/

/*need to come up with percentage based solution for  locations section*/


.logo {
    width: 40px;
    height: 33px;
}

.title {
    text-align: center;
}

.title__trial {
    border-radius: 3px;
    color: #fff;
    background: #8AD03D;
    padding: 10px 20px;

}

.block__header {
    text-align: center;
}

.block__header {
    border-bottom: 1px solid #e8e8ec;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    padding: 1em 0;
    margin-top: 0;
}

.block__content {
    box-sizing: border-box;
    padding: 0 2em 2.5em;
}

.plan-price {
    font-size: 2.3em;
    font-weight: 500;
    margin: 0 0 .5rem 0;
}
.block-h3-span {


}


.block__description {
    margin: 0 0 1.5rem 0;
}

.block-h3-span,
.block__description {
    letter-spacing: .3px;
}



.block-h3-span,
.block__description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    word-spacing: 1.5px;
}

.block-h3-span,
.block__description,
.locations__minus,
.locations__plus {
        color: #9fa9b1;
}




.locations {
    border: 1px solid #e8e8ec;
}

.locations--single {
    text-align: center;
    padding: 10px 0;
}

.locations__minus,
.locations__plus {
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
}

.locations__minus {
    border-right: 1px solid #e8e8ec;
    margin-right: 42px;
}
.locations__plus {
    border-left: 1px solid #e8e8ec;
    margin-left: 42px;
}




.features__item {
    list-style: none;
}


/*base*/
body {
    background: #fff;
    font: 16px/1.5 'Roboto', helvetica;
}

a {
    text-decoration: none;
}


/*layout*/



/*module*/
.block {
    -webkit-box-shadow: 5px 8.66px 57px 0px rgba(50,117,208, 0.1);
    -moz-box-shadow: 5px 8.66px 57px 0px rgba(50,117,208, 0.1);
    box-shadow: 5px 8.66px 57px 0px rgba(50,117,208, 0.1);
    /*box-sizing: border-box;*/
    margin: 0 20px 40px;
}

.features {
    display: none;
}





/*state*/



/*theme*/
.block--protect .block__header,
.block--protect .features__item .fa-check {
    /*color: #f7cb62;*/
    color: #f3b007;
}

.block--social .block__header,
.block--social .features__item .fa-check,
.block--social .features__item .fa-long-arrow-left {
    /*color: #52bef5;*/
    color: #1dabf2;
}

.block--marketing .block__header,
.block--marketing .features__item .fa-check,
.block--marketing .features__item .fa-long-arrow-left {
    /*color: #8ad03d;*/
    color: #46d68c;
}



    /*media queries*/
